import streamlit
import numpy
import pickle
import tensorflow
from tensorflow import keras
from PIL import Image
from streamlit_option_menu import option_menu
streamlit
tensorflow==3.8.10
numpy
pillow
streamlit-option-menu